<div class="c-Hero" style="background-image: url({{ 'hero.jpg' | asset_url }})">
      <div class="c-Hero__container">
        <p class="c-Hero__title wow animated fadeInDown">Siesta</p>
        <p class="c-Hero__subtitle wow animated fadeIn" data-wow-delay=".5s">
          Pleased to seat you.
        </p>
      </div>
    </div>
    <div class="o-container --small pb4" style="text-align: center">
      <p class="skinny-text lead wow animated fadeIn" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Cras posuere enim libero, id sollicitudin mauris pharetra
      in. Etiam vel neque vitae purus eleifend finibus a at risus. Donec tempor
      vestibulum ullamcorper.
      </p>
    </div>
    <section class="c-Section" style="background-image: url({{ 'light.jpg' | asset_url }})">
      <div class="o-container --md">
        <div>
          <h2 class="skinny-text wow animated fadeIn">Light as air</h2>
          <p class="skinny-text wow animated fadeIn" data-wow-delay=".5s">Less than 3 lbs. Packs up
          lighter<br>
          than a bag of chips.</p>
        </div>
      </div>
    </section>
    <section class="c-AltSection pt0" style="background-image: url({{ 'running.jpg'| asset_url }})">
      <div class="o-container --md text-center">
        <h2 class="skinny-text wow animated fadeIn pt2">No pump required</h2>
        <p class="skinny-text wow animated fadeIn" data-wow-delay=".5s">Simply run to capture air.</p>
      </div>
    </section>
    <section class="c-Section" style="background-image: url({{ 'seal.jpg' | asset_url }})">
      <div class="o-container --md">
        <div>
          <h2 class="large-text mb.5 mt2 bold wow animated fadeIn">That's it.</h2>
          <p class="skinny-text wow animated fadeIn" data-wow-delay=".5s">Seal and enjoy.</p>
        </div>
      </div>
    </section>
    <div class="o-container text-center">
      <h2 class="section-heading skinny-text wow animated fadeIn ">Cozy anywhere</h2>
      <p class="section-text mxauto skinny-text max-width1 text-center wow animated fadeIn" data-wow-delay=".5s">
      Sleep on it, lounge on it, dream on it &mdash; if you don't love your
      Siesta, we'll take it back and give you a full refund.</p>
      <div style="display: flex; justify-content: center;" class="text-center mt1 pl1">
        <a href="#" class="c-Button --primary wow animated fadeIn"
          data-wow-delay="1s">DETAILS</a>
      </div>
    </div>
    <section class="c-AltSection pb0" style="background-image: url({{ 'sitting.jpg' | asset_url }})">
    </section>
